<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/navigation') %>

    <!-- Main content-->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/logoSeg.png" alt="Seguridad" class="w-25">
        <h2 class="display-4 my-5 fw-regular">Seguridad</h2>
        <a href="/servicios" class="btn btn-primary w-25">Servicios</a>
      </div>

    </header>

    <%- include('partials/footer') %>
</body>

</html>