<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>






   <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1">Servicios</h1>
        <p>
           <div class="card">Una empresa especializada en el desarrollo de documentación para cumplir con las certificaciones en ISO 27001 brinda una variedad de servicios relacionados con la implementación y el mantenimiento de un sistema de gestión de seguridad de la información (SGSI) conforme a los requisitos de la norma ISO/IEC 27001.

            Estos son algunos de los servicios que podría ofrecer una empresa de este tipo:</div>

        </p>
    </section>
   </main>

    <%- include('partials/footer') %> 
</body>

</html>