<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>






   <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1">Servicios</h1>
        <p>
           <div class="card">Una empresa especializada en el desarrollo de documentación para cumplir con las certificaciones en ISO 27001 brinda una variedad de servicios relacionados con la implementación y el mantenimiento de un sistema de gestión de seguridad de la información (SGSI) conforme a los requisitos de la norma ISO/IEC 27001.

            Estos son algunos de los servicios que podría ofrecer una empresa de este tipo:</div>

<div class="card">Evaluación inicial: Realización de una evaluación inicial para determinar el estado actual de la seguridad de la información en la organización. Esto implica identificar los activos de información críticos, las amenazas y vulnerabilidades existentes, y evaluar el grado de cumplimiento con los requisitos de ISO 27001.</div>

Desarrollo de políticas y procedimientos: Elaboración de políticas y procedimientos de seguridad de la información que se ajusten a los requisitos de ISO 27001. Estas políticas y procedimientos abarcarán áreas como el acceso físico y lógico, la gestión de activos, la gestión de incidentes, la continuidad del negocio y otros aspectos clave de la seguridad de la información.

Planificación y diseño del SGSI: Ayuda en la planificación y diseño de un sistema de gestión de seguridad de la información efectivo y eficiente. Esto incluye la identificación de roles y responsabilidades, la definición de objetivos de seguridad, la determinación de métricas de desempeño y la creación de un plan de implementación detallado.

Capacitación y concienciación: Proporcionar capacitación y concienciación sobre los principios y requisitos de ISO 27001 a los empleados de la organización. Esto asegura que todos los miembros del personal comprendan la importancia de la seguridad de la información y estén alineados con las políticas y procedimientos establecidos.

Evaluación de riesgos: Realizar una evaluación de riesgos de seguridad de la información para identificar y priorizar las amenazas y vulnerabilidades existentes. Esto ayudará a la organización a establecer medidas de control adecuadas para mitigar los riesgos identificados.

Implementación y documentación: Ayudar en la implementación del SGSI y proporcionar orientación para documentar todos los aspectos necesarios según los requisitos de ISO 27001. Esto incluye la creación de registros, la documentación de los controles de seguridad implementados y la preparación de los documentos necesarios para la auditoría.

Auditoría interna: Realizar auditorías internas periódicas para evaluar el cumplimiento del SGSI con los requisitos de ISO 27001. Esto ayuda a identificar posibles brechas o áreas de mejora antes de la auditoría final de certificación.

Asistencia en la certificación: Brindar apoyo durante el proceso de certificación, incluida la preparación de la organización para la auditoría de certificación, la revisión de la documentación y la gestión de cualquier hallazgo o no conformidad identificada durante la auditoría.

Estos servicios son proporcionados por expertos en seguridad de la información con conocimientos profundos de la norma ISO 27001 y experiencia en la implementación exitosa de sistemas de gestión de seguridad de la información en diferentes organizaciones.
        </p>
    </section>
   </main>

    <%- include('partials/footer') %> 
</body>

</html>