<footer class="bg-dark text-center p-4">
    <div class="container">
        <div class="container text-center">
            <div class="row row-cols-3">
                <div class="col">
                    <div class="card" style="width: 100%; height: 100%;">
                        <div class="card-title">
                            Contactanos
                        </div>
                        <div class="card-body align-text-left">
                            Tel: 555 555 555</br>
                            Tel2: 555 555 554</br>
                            Email: contacto@dominio.com
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%; height: 100%;">
                        <div class="card-title">
                            Síguenos
                        </div>
                        <div class="card-body">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-linkedin"></i>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%; height: 100%;">
                        <div class="card-title">
                            Empresa
                        </div>
                        <div class="card-body">
                            © 2023 Seguridad ISO 27001.
                            <p>
                                <small>Este sitio web está protegido por derechos de autor y su contenido no puede ser
                                    reproducido sin autorización previa. La información proporcionada en este sitio web
                                    es solo para fines informativos y no constituyeasesoramiento profesional. </small>
                            </p>
                            Aviso legal | Política de privacidad | Términos y condiciones
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>